.download{
	width: 100%;
	height: 82svh;
	background-color: black;
	display: flex;
	align-items: center;
	padding: 4% 0;
}
.right_matter{
	width: 50%;
	height: 100%;
	color: white;
	align-content: center;
	margin-right: 10%;
}
.right_matter h1{
	font-size: 50px;
	font-weight: 900;
}
.right_matter p{
	font-size: 24px;
}
.mobile{
	margin-left: 10%;
	width: 50%;
	height:100%;
	background-image: url('C:\Users\chara\OneDrive - Aditya Educational Institutions\Desktop\DR React\netflix\src\assets\mobileframe.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}

.save_anime{
	width: 51%;
	height: 22%;
	background-color: black;
	left: 25%;
	bottom: 8%;
	position: absolute;
	border-radius: 10px;
	border: 2px solid #5A5A5A;
	padding: 8px 12px;
}
.web{
	width: 75%;
	height: 100%;
	display: flex;
}
.stranger_things{
	width: 30%;
	height: 100%;
	background-image: url('C:\Users\chara\OneDrive - Aditya Educational Institutions\Desktop\DR React\netflix\src\assets\boxshot.png');
	background-size: 80% 100%;
	background-repeat: no-repeat;
}

.Show{
	color: white;
}
.task{
	color: blue;
}

.downloading{
	width: 60%;
	height: 100%;
	align-content: center;
}

.svg{
	align-content: center;
	width: 30%;
	height: 100%;
	background-image: url('C:\Users\chara\OneDrive - Aditya Educational Institutions\Desktop\DR React\netflix\src\assets\download-icon.gif');
	background-size: 75% 70%;
	background-repeat: no-repeat;
	position: absolute;
	right: -10px;
	bottom: -15px;

}

@media screen and (max-width:320px){
	.right_matter h1{
		font-size: 32px;
	}
}