.kids{
	width: 100%;
	height: 82svh;
	background-color: black;
	display: flex;
	align-items: center;
	padding: 4% 0;
}
.right_matter{
	width: 50%;
	height: 100%;
	color: white;
	align-content: center;
	margin-right: 10%;
}
.right_matter h1{
	font-size: 50px;
	font-weight: 900;
}
.right_matter p{
	font-size: 24px;
}

.kids_img{
	margin-left: 10%;
	width: 50%;
	height:100%;
	background-image: url('C:\Users\chara\OneDrive - Aditya Educational Institutions\Desktop\DR React\netflix\src\assets\img2.png');
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}
@media screen and (max-width:320px){
	.right_matter h1{
		font-size: 32px;
	}
}
